.profileContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.profileName{
font-size: 50px;
}
.profileAbout{
  font-size: 25px;
}
.profileAvatar{
  max-width: 300px;
}