.catalogueContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterButton {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #de076b;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.filterButton:hover {
  color: white;
}
.productCardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1300px;
  margin-top: 10px;
}
.filtredProductContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1300px;
  margin-top: 10px;
}
.filterAccent{
  font-weight: bold;
  font-size: 45px;
  color: #de076b;
}
.createProductLinkContainer{
  margin-top: 20px;
}
.createProductLink{
  border: 1px solid #de076b;
  color: black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 1024px) {
  .productCardsContainer {
    width: 700px;
    justify-content: space-evenly;
  }
  .filtredProductContainer{
    margin: auto;
    justify-content: space-evenly;
    width: 700px;
  }
}
@media (max-width: 740px) {

}
@media (max-width: 390px) {
 .productCardsContainer{
    width: 390px;
  }
  .filtredProductContainer{
    width: 390px;
  }
}