.emptyCartContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
  border: 1px solid wheat
}
.emptyCartText{
  font-size: 40px;
}
.emptyCartSubtext{
  font-size: 20px;
}
.emptyCartImg{
  width: 550px;
}
.emptyCardLink{
    align-self: center;
    margin-top: auto;
    margin-bottom: 10px;
    background-color: #f5deb3;
    color: #de076b;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #de076b;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.emptyCardLink:hover{
  color:white
}
