.cardContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;
  border: 5px solid wheat;
  font-size: 20px;
  margin-right: 5px;
}
.productStatusBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productImage {
  align-self: center;
  max-width: 200px;
  max-height: 200px;
}
.tagsContainer{
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.newTag{
  margin-left: 10px;
  background-color: #de076b;
  font-size: 20px;
  padding: 2px;
  border-radius: 10px;
  color: white;
}
.otherTag{
  margin-left: 10px;
  background-color: skyblue;
  font-size: 20px;
  padding: 2px;
  border-radius: 10px;
  color: white;
}
.oldPrice{
  text-decoration: line-through;
}
.inCartButton{
  align-self: center;
  margin-top: auto;
  margin-bottom: 10px;
  background-color: #f5deb3;
  color: #de076b;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  border:1px solid #de076b;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.inCartButton:hover{
  color: white;
}
.name{
  align-self: center;
  font-size: 22px;
  color: #de076b;
  margin-bottom: auto;
}
.priceDiscount{
  color:#de076b;
  font-weight: bold;
}
.likeButton{
  background: none;
  border: none;
  cursor: pointer;
}
.inCartBanner{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  background-color: wheat;
  padding: 6px;
  margin-top: auto;
}