.logoContainer {
  display: flex;
}
.logoImg {
  width: 90px;
  display: block;
}
.logoText {
  font-size: 40px;
}
.logoLink{
  text-decoration: none;
  color: black;
}
@media (max-width: 390px) {
  .logoContainer{
    margin-top: 5px;
  }
}